body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    overflow: hidden;
    width: 100%;
}

#display{
    width: 100%;
    padding: 1px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10x;
    padding-top: 5px;
}

button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(39, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(39, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(39, 100%, 75%);
}